h1{
  color: black;
  font-size: 100sp;
  font-family: Times;

}
p{
  align-items: flex-end;
  color: red;
}
footer{
  text-align: right;
}
form{
  align-items: center;
  text-decoration-color: white;
}
body{
font-family:"Arial Black", Gadget, sans-serif;
  background-image:url("bg.jpg");
  background-repeat:no-repeat;
background-size:100%;
margin:100px;
}
